/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face 
{
	src: url("TatianaC.otf");
	fontWeight: bold;
	fontFamily: TatianaC;
}

@font-face 
{
	src: url("HeliosC.otf");
	fontWeight: normal;
	fontFamily: HeliosC;
}
@font-face 
{
	src: url("arial.ttf");
	fontWeight: normal;
	fontFamily: Arial;
}

@font-face 
{
	src: url("HeliosCondBlackC.otf");
	fontWeight: normal;
	fontFamily: HeliosCondBlackC;
}

@font-face 
{
	src: url("HeliosCondC-Bold.otf");
	fontWeight: normal;
	fontFamily: HeliosCondC-Bold;
}
